.list-group {
  background-color: white;
  height: 400px;
  overflow: scroll;
  display: flex;
  justify-content: center;
}
th,td {
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-collapse: collapse;
  height: 20px;
}

