<div class="list-group-1">
  <label>Searh Group Name: </label><input class="filter-all-group" type="text" [(ngModel)]="filterString">
  <table [cellPadding]="5">
<!--    <input class="filter-all-group" type="text" [(ngModel)]="filterString">-->
    <tr>
      <th>Group ID</th>
      <th>Group Name</th>
      <th>Member</th>
      <th>Join</th>
    </tr>


    <tr *ngFor="let group of allGroup | customPipe:filterString:'name'; index as i">
      <td>{{group.id}}</td>
      <td>{{group.name}}</td>
      <td>{{group.memberid.length}}</td>
      <td><button (click)="joinGroup(group.id)">Join</button></td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>
