<div class="logo-brand">
  <h1>ILOTUS FUND</h1>
</div>
<nav class="inavbar">
  <ul class="inavbar-nav">
    <li class="inavbar-item"><a href="#">TRANG CHỦ</a></li>
    <li class="inavbar-item"><a href="#">CHƯƠNG TRÌNH</a></li>
    <li class="inavbar-item"><a href="#">GIỚI THIỆU</a></li>
    <li class="inavbar-item"><a href="#">HƯỚNG DẪN</a>
      <ul class="idropdown-menu">
        <li class="idropdown-item">
          <a href="#">HƯỚNG DẪN ĐÓNG GÓP</a>
        </li>
        <li class="idropdown-item">
          <a href="#">CẬT NHẬT ĐÓNG GÓP</a>
        </li>
      </ul>
    </li>
    <li class="inavbar-item">LIÊN HỆ
      <ul class="idropdown-menu">
        <li class="idropdown-item">
          <a href="tel:+84966343038">SĐT: 0966343038</a>
        </li>
        <li class="idropdown-item">
          <a href="mailto:ilotusfund@gmail.com">Email: ilotusfund@gmail.com</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div class="inavbar-button">
  <button type="button">Login</button>
  <button type="button">Sign Up</button>
</div>
