html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 2px;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22ADD4, #1E98BA);
}

.container {
  box-sizing: border-box;
  height: 96%;
  display: flex;
  flex-flow: row nowrap;
}

.left-column {
  width: 25%;
}

.current-user {
  height: 15%;
  background-color: #005dae;
  display: flex;
  flex-flow: row nowrap;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: pink;
  color: black;
  align-self: center;
  margin-right: 15px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username {
  align-self: center;
  font-size: 150%;
  color: white;
  font-weight: bold;
}

.list-group {
  background-color: #1281df;
  color: white;
  height: 80%;
  max-height: 80%;
  overflow: auto;
}

.input-search-group {
  height: 5%;
  display: flex;
  align-items: center;
  background-color: #1281df;
  padding-top: 5px;
}

.input-search-group input {
  height: 95%;
  width: 90%;
  margin-left: 25px;
  border-radius: 10px;
  border: 1px solid #0084FF;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

.group {
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
}

.group:hover {
  background-color: #0084FF;
}

.avatar-group {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: pink;
  color: black;
  align-self: center;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-group {
  align-self: center;
}

.right-column {
  width: 75%;
}

.dont-join-group {
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 15px;
}

.current-group {
  color: white;
  background-color: rgb(0 105 202);
  height: 15%;
  display: flex;
  flex-flow: row nowrap;
}

.avatar-group-big {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: pink;
  color: black;
  align-self: center;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-group-big {
  align-self: center;
  font-size: 150%;
}

.member-online {
  align-self: center;
  margin-left: 25px;
}

.show-member {
  padding: 20px;
  color: white;
  font-weight: bold;
  position: fixed;
  left: 60%;
  top: 70px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}


.out-button {
  position: absolute;
  right: 25px;
  align-self: center;
}

.out-button button {
  height: 30px;
  width: 100px;
  color: white;
  padding: 5px;
  font-weight: bold;
  border: none;
  background-color: #0084FF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.messages {
  height: 75%;
  max-height: 75%;
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
}

.message {
  max-width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 20px 20px 20px;
}

.name-send {
  /* background-color: white; */
  color: black;
  padding: 0 15px;
}

.time-send {
  color: rgba(0, 0, 0, 0.5);
  padding: 0 15px;
}

.message-send {
  padding: 15px;
  border-radius: 15px;
  color: white;
}

.another-message {
  align-self: flex-start;
  text-align: left;
}

.another {
  background-color: #FF5CA1;
}

.me-message {
  text-align: right;
  align-self: flex-end;
}

.me {
  background-color: #0084FF;
}

.inout-message {
  width: 100%;
  align-self: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.send-message {
  background-color: rgb(0 105 202);
  color: white;
  height: 10%;
  padding-left: 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.send-message input {
  height: 50%;
  width: 85%;
  border-radius: 10px;
  background-color: rgb(0 105 202);
  border: 1px solid rgb(0 105 202);
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  color: white;
  margin-right: 20px;
}

.send-message input:focus {
  outline: none;
}

.send-message button {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: rgb(0 105 202);
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.list-group-1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
