<div class="container mt-3">
  <h2>Danh sách bệnh án</h2>
  <table class="table">
    <thead>
    <tr>
      <th>STT</th>
      <th>Mã bệnh án</th>
      <th>Mã bệnh nhân</th>
      <th>Tên bệnh nhân</th>
      <th>Ngày nhập viện</th>
      <th>Ngày ra viện</th>
      <th>Lí do nhập viện</th>
      <th>Phương pháp điều trị</th>
      <th>Bác sĩ điều trị</th>
      <th>Tác vụ</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let record of allMedicalRecords; index as i">
      <td>{{i + 1}}</td>
      <td>{{record.idRecord}}</td>
      <td>{{record.patientId}}</td>
      <td>{{record.patientName}}</td>
      <td>{{record.startIn |date:'dd/MM/yyyy'}}</td>
      <td>{{record.startOut |date: 'dd/MM/yyyy'}}</td>
      <td>{{record.reason}}</td>
      <td>{{record.doctorName}}</td>
      <td>Tác vụ</td>
      <td>
        <button type="button" class="btn btn-info"><a [routerLink]="['/edit', record.idRecord]">Edit</a></button>
        <button type="button" class="btn btn-danger" ng-confirm-click="Are you sure to delete this product ?"
                (click)="delete(record.idRecord)">Del
        </button>

      </td>
    </tr>

    </tbody>
  </table>
</div>
