<div class="footer">
  <div class="footer-child">
    <div class="child-header">VỀ CHÚNG TÔI</div>
    <div class="child-info">
      Quỹ Từ thiện Bông Sen được thành lập theo Quyết định số: 24/QĐ-BNV ngày 5 tháng 1 năm 2018. Quỹ Bông Sen là phiên bản mở rộng của Quỹ Từ thiện Tình Thương thành phố Hồ Chí Minh. Quỹ có phạm vi hoạt động toàn quốc.
    </div>
  </div>
  <div class="footer-child">
    <div class="child-header">HƯỚNG DẪN - GIỚI THIỆU</div>
    <ul>
      <li><a href="#">Hướng dẫn đóng góp</a></li>
      <li><a href="#">Giới thiệu</a></li>
      <li><a href="#">Tổ chức</a></li>
      <li><a href="#">Lịch sử</a></li>
      <li><a href="#">Quy chế tác viên</a></li>
    </ul>
  </div>
  <div class="footer-child">
    <div class="child-header">CHƯƠNG TRÌNH</div>
    <ul>
      <li><a href="#">Trợ giúp y tế</a></li>
      <li><a href="#">Suất ăn giá rẻ</a></li>
      <li><a href="#">Dự án xây dựng</a></li>
      <li><a href="#">Cứu trợ khẩn cấp</a></li>
      <li><a href="#">Giáo dục và dạy nghề</a></li>
    </ul>
  </div>
  <div class="footer-child">
    <div class="child-header">QUỸ TỪ THIỆN ILOTUSFUND</div>
    <ul>
      <li><a href="#">Tầng x, số y Đường Láng, Đống Đa, Hà Nội</a></li>
      <li><a href="tel:+84966343038">Hotline: 0123456789</a></li>
      <li><a href="#">Fax: 0123456789</a></li>
      <li><a href="mailto:ilotusfund@gmail.com">Email: ilotusfund@gmail.com</a></li>

    </ul>
  </div>
</div>
